.main_bg_img {
    background-image: url("../images/ajusta.jpg"); 
  
  }
  
  .nav-link{
    color: #9a0f0f;
  }
  
  .logo{
    color: #fdc243;
  }
  
  .index_hero{
     
     display: flex;
     margin-top: 20%;
     justify-content: space-evenly; 
    }
  
    .card_1{
      background-color: #f5f5f65d;
    }
  
    .card_2{
    background-color: #f5f5f65d;
    }
  
    .card_3{
    background-color: #f5f5f65d;
    }