@import url("https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@1,200 & family= Roboto+Slab:wght@200;400;600 & display=swap");
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

/* index */
.main_bg_img {
  background-image: url("../images/ajusta.jpg"); 

}

.nav-link{
  color: #fdc243;
}

.logo{
  color: #fdc243;
}

.index_hero{
   
   display: flex;
   margin-top: 20%;
   justify-content: space-evenly; 
  }

  .card_1{
    background-color: #f5f5f65d;
  }

  .card_2{
  background-color: #f5f5f65d;
  }

  .card_3{
  background-color: #f5f5f65d;
  }

/* Nosotros */

.nosotros_bg_img {
  background-image: url(../images/trabajando.avif);
}

.nosotros_container {
  display: flex;
  gap: 1rem;
  .nosotros_tarjeta{
    width: 100%;
    
    .nosotros_h2 {
    text-align: center;
    background-color: #363642;
    color: #fdc243;
      }
  } 
  .nosotros_p {
    color: #fdc243;
    max-width: 100%;
    padding-inline: 10px;
    background-color: #5757f817;
    margin: 20px;
    text-align: center;
  }  
   }

.nosotros_h1 {
  margin-top: 3.5rem;
  padding: 15px;
  text-align: center;
  background-color: #68689b;
  color: #fdc243;
}

/* Productos */

.productos_h1 {
  
  margin-top: 3.5rem;
  text-align: center;
}

.card img {
  height: 35vh;
  width: auto;
  object-fit: contain;
}

/* contacto */

.contacto_body{
  background-image: url(../images/operador.jpg);
}
.contacto_title{
  color: #fdc243;
  margin-top: 3.5rem;
  padding: 2rem;
  background-color: #63b9ea42;
}


.contacto_grilla{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "telefonos whatsapp sucursales"
  "telefonos whatsapp sucursales";
  margin-top: 5rem;
  gap: 1rem; 
  height: 80%;
  .telefonos{
    grid-area: telefonos;
  }
  
  .whatsapp{
    grid-area: whatsapp;
  }
  
  .sucursales{
    grid-area: sucursales;
  }
  .contacto_h2{
    color: #fdc243;
    padding: 1rem;
    background-color: #8282bf62;
  
  }
  .contacto_datos{
    list-style-position: inside;
    color: #5757f8;
    background-color: #c3c3dd46;
    padding: 0.5rem;
    margin-top: 1rem;
  }
}

/* Servicios */

.servicios_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .servicios_cards{
    padding-inline: 0.5rem;
    background-color: #68689b3e;
  }
  .servicios_p{
    color: #fdc243;
  }
  
}

.servicios_bg_img {
  background-image: url(../images/living_con_aire.jpg);

}

.servicios_h1 {
  font-size: 50px;
  margin-top: 3.5rem;
  padding: 10px;
  text-align: center;
}


/* footer */

/* media @*/

@media screen and (max-width: 360px){
  .contacto_grilla{
    grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "telefonos whatsapp "
  "sucursales whatsapp";
  }
  
}

@media screen and ( max-width: 360px) {

  .index_hero{

    flex-direction: column;
    gap: 1rem;
  }
     
}