@import url("https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@1,200 & family= Roboto+Slab:wght@200;400;600 & display=swap");
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: 100%;
}

/* logo */

.logo{

  color: #fdc243;
}
.title{
  max-width: max-content;
}

/* Main */
.main_bg_img {
  background-image: url("../images/ajusta.jpg");
  
}


.main_menu {
  margin-top: 1rem;
  margin-left: 1rem;
  width: max-content;
  height: max-content;
  background-color: rgba(128, 128, 128, 0.185);
  list-style-position: inside;
  list-style-type: none;
  border: 10rem;
  align-items: start;
  border-radius: 60px;
  padding: 1rem 4rem 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.item {
  list-style-position: inside;
  padding: 1rem;
}

.item a {
  color: #0000ff;
  text-decoration: none;
}

/* Nosotros */

.nosotros_bg_img {
  background-image: url(../images/trabajando.avif);
}

.nosotros_container {
  display: flex;
  flex-direction: row;
}


.nosotros_h1 {
  margin: 20px;
  padding: 15px;
  text-align: center;
  background-color: #68689b;
  color: #fdc243;
}

.title_historia, .title_quienes, .title_experiencia, .title_compromiso,
 .title_unete {
  text-align: center;
  width: 300px;
  height: 80px;
  background-color: #363642;
  padding: 15px;
  margin: 20px;
  text-align: center;
  color: #fdc243;
}

.parrafo_historia, .parrafo_quienes, .parrafo_experiencia,
 .parrafo_compromiso, .parrafo_unete {
  width: 300px;
  background-color: #5757f8;
  margin: 20px;
  padding: 15px;
  vertical-align: middle;
  display: inline-block
}

/* Productos */

.nav_productos {
  background-color: blue;
}

.productos_h1 {
  margin: 10px;
  padding: 30px;
  text-align: center;
}

.card img {
  height: 35vh;
  width: auto;
  object-fit: contain;
}

/* contacto */

.contacto_body{
  background-image: url(../images/operador.jpg);
}
.contacto_title{
  color: #fdc243;
  padding: 2rem;
  background-color: #63b9ea42;
}


.grilla{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  margin-top: 5rem;
  gap: 1rem; 
}


.principal{
  color: #fdc243;
  padding: 1rem;
  background-color: #8282bf62;

}
.datos{
  list-style-position: inside;
  color: #5757f8;
  background-color: #c3c3dd46;
  padding: 0.5rem;
  margin-top: 1rem;
}
.contacto_body li{
  padding: 1rem;
}

/* Servicios */

.servicios_container {
  display: flex;
  flex-direction: column;
  background-color: #3066d195;
  
  
}

.ventas{
  background-color: #fdc2438f;
}

.servicios_bg_img {
  background-image: url(../images/living_con_aire.jpg);
}

.servicios_h1 {
  font-size: 50px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.servicios_h2 {
  margin: 5px;
  padding: 5px;
  color: #1a2b4d;
}

