@import url("https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@1,200 & family= Roboto+Slab:wght@200;400;600 & display=swap");
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Main */
.main_bg_img {
  background-image: url("../images/ajusta.jpg");
}

.title {
  width: 100vh;
  height: 20vh;
  background-color: #63b9ea42;
  border: solid;
  border-color: gray;
  border-radius: 50px;
  font-size:xx-large; 
  color: #ffff00;
  text-align: center;
  text-justify: auto;
  padding: 3rem;

}

.main_menu {
  margin-top: 1rem;
  margin-left: 1rem;
  width: max-content;
  height: max-content;
  background-color: rgba(128, 128, 128, 0.185);
  list-style-position: inside;
  border: 10rem;
  align-items: start;
  border-radius: 60px;
  padding: 1rem 4rem 1rem 4rem;
}
.item {
  list-style-position: inside;
}

.item a {
  color: #0000ff;
  text-decoration: none;
}

/* Nosotros */

.nosotros_bg_img {
  background-image: url(../images/trabajando.avif);
}

.nosotros_h1 {
  margin: 20px;
  padding: 15px;
  text-align: center;
  background-color: #68689b;
  color: #fdc243;
}

.nosotros_h2 {
  background-color: #363642;
  width: 300px;
  height: 50px;
  padding: 15px;
  margin: 20px;
  text-align: center;
  color: #fdc243;
}

.historia {
  width: 300px;
  background-color: #5757f8;
  margin: 20px;
  padding: 15px;
}

/* Productos */

.nav_productos {
  background-color: blue;
}

.productos_h1 {
  margin: 10px;
  padding: 30px;
  text-align: center;
}

.card img {
  height: 35vh;
  width: auto;
  object-fit: contain;
}

/* contacto */

.contacto_body{
  background-image: url(../images/operador.jpg);
}
.contacto_title{
  color: #fdc243;
  padding: 2rem;
  background-color: #63b9ea42;
}

.grilla{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  margin-top: 5rem;
  gap: 1rem; 
}


.principal{
  color: #fdc243;
  padding: 1rem;
  background-color: #8282bf62;

}
.datos{
  list-style-position: inside;
  color: #5757f8;
  background-color: #c3c3dd46;
  padding: 0.5rem;
  margin-top: 1rem;
}
.contacto_body li{
  padding: 1rem;
}

/* Servicio */

.servicios_bg_img {
  background-image: url(../images/living_con_aire.jpg);
}

.servicios_h1 {
  font-size: 50px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.servicios_h2 {
  margin: 5px;
  padding: 5px;
  color: #1a2b4d;
  background-color: rgba(255, 235, 205, 0.1);
}

.servicios_container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: space-around;
}
