@import url("https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@1,200 & family= Roboto+Slab:wght@200;400;600 & display=swap");
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

/* Main */
.main_bg_img {
  background-image: url("../images/ajusta.jpg"); 


}

/* Nosotros */

.nosotros_bg_img {
  background-image: url(../images/trabajando.avif);
}

.nosotros_container {
  display: flex;
  flex-direction: column;
  
}


.nosotros_h1 {
  margin-top: 3.5rem;
  padding: 15px;
  text-align: center;
  background-color: #68689b;
  color: #fdc243;
}

.nosotros_h2 {
  text-align: center;
  width: 300px;
  height: max-content;
  background-color: #363642;
  padding: 15px;
  margin: 20px;
  color: #fdc243;
}

.nosotros_p {
  width: 300px;
  background-color: #5757f8;
  margin: 20px;
  padding: 15px;
  text-align: center;
}

/* Productos */

.productos_h1 {
  
  margin-top: 3.5rem;
  text-align: center;
}

.card img {
  height: 35vh;
  width: auto;
  object-fit: contain;
}

/* contacto */

.contacto_body{
  background-image: url(../images/operador.jpg);
}
.contacto_title{
  color: #fdc243;
  margin-top: 3.5rem;
  padding: 2rem;
  background-color: #63b9ea42;
}


.contacto_grilla{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  margin-top: 5rem;
  gap: 1rem; 
}


.contacto_h2{
  color: #fdc243;
  padding: 1rem;
  background-color: #8282bf62;

}
.contacto_datos{
  list-style-position: inside;
  color: #5757f8;
  background-color: #c3c3dd46;
  padding: 0.5rem;
  margin-top: 1rem;
}


/* Servicios */

.servicios_container {
  display: flex;
  flex-direction: column;
  background-color: #3066d195;
  
  
}

.ventas{
  background-color: #fdc2438f;
}

.servicios_bg_img {
  background-image: url(../images/living_con_aire.jpg);
}

.servicios_h1 {
  font-size: 50px;
  margin-top: 3.5rem;
  padding: 10px;
  text-align: center;
}

.servicios_h2 {
  margin: 5px;
  padding: 5px;
  color: #1a2b4d;
}

